[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/nikhilkamineni/gruvbox.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
